body {
        background: black;
        color: #e5e7eb;
        padding: 20px;
        align-items: center;
    }

    form{
        background: #00000f;
        max-width: 500px;

    }

    input {
        width: 40%;
        padding: 8px;
        margin-top: 6px;
        border-radius: 60px;
        border: none;
        color: black;
        outline: 3px solid #077e09;
    }

button{
     width: 20%;
        padding: 8px;
        margin-top: 6px;
        border-radius: 60px;
        border: none;
        background: #ffffff;
        color: rgb(0, 0, 0);
        outline: 3px solid #077e09;
}

button:hover {
        opacity: 0.9;
        background-color: #013402;
        color: #ffffff;
}



th, td {
        padding: 12px;
        text-align: center;
    }

    th {
        background: #077e09;
    }